@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/github.min.css");

pre{
  border: transparent;
  background: transparent;
  padding: 0px;
}

/* preのpadding 9.5px + border 1px */
code.hljs{
  padding: 10.5px;
}

code{
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
body {
    font-size: 16px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.4em;
}
code, pre{
    font-size: 14px;
}
